<!DOCTYPE html>
<html>
 <head>
  <style>
  body{
   background-image:url(a.jpg);
   background-position:center;}
   img{
	width:170px;
	height:200;
	border-radius:50%;
	margin-left:120px;
	margin-top:20px;
}
	h1{
	color:white;
	text-align:center;}
	p{
	color:red;
	text-align:center;}
  </style>
   <body>
     <img src="C:\Users\gaude\Documents\gambar\ns.jpg"></>
	 <hr>
	 <h1>GAUDENSIUS FARTIKA SANDA(20201038)</h1>
	 <p>Hay,Perkenalkan saya adalah seorang mahasiswa dari Institut Asia Malang yang bercita-cita ingin menjadi seorang Programer yang terkenal.</p>
	 <p>Untuk itu saya mengajak teman-teman agar belajar bersama-sama di Institut Asia Malang.</p>
	 <p>
   </body>
 </head>
</html>