<!DOCTYPE html>
<html>
<head>
<style>
body{
background-color:blue;}
h1{
color:orange;
display:flex;
justify-content:center;
align-items:center;}
form {

 background:rgba(0,0,0,0.5);
 color:red;
 top:50%;
 left:50%
 position:absolute;
 box-sizing:border-box;
 padding:70px;
 transfrom:translate(-50%,-50%);

 }
 input[type="Password"]:focus,.input[type="Pasword"]{
 width:100px;}
 input[type="submit"]:hover{
 cursor: pointer;
 background:white;
 color:orange;}
</style>
<body>
<h1>WELCOME TO MY WEBSITE</h1>
<form>
<input type="text" name="Username"placeholder="Username">
<input type="Password" name=""placeholder="Password">
<input type="submit" name=""value="Login">
</form>
</body>
</head>

</html>
