<!DOCTYPE html>
<html>
 <head>
  <style>
  body{
  background-color:black;}
	h1{
	color:white;
	text-align:center;}
	p{
	color:white;
	text-align:center;}
  </style>
  <title>Halaman | {{titel}}</title>
   <body>
	 <hr>
	 <h1>GAME MOBILE LEGENDS</h1>
	 <p>Mobile legends adalah permainan game online yang dimainkan secara tim. dalam satu tim akan terdiri dari 5 orang</p>
	 <p>Pada games mobile legend, dua tim akan beradu untuk menyerang base lawan dan mempertahankan base milik sendiri dalam durasi 15 menit atau lebih dalam 1 ronde</p>
	 <p>Maka saya mengajak teman-teman yang berminat langsung bergabung bersama saya di website nong sanda.</p>
	 <p>
   </body>
 </head>
</html>